footer ul li {
  list-style-type: none;
}
.logo-text {
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: #cff087;
}

.carousel {
  padding: 3rem 1.5rem;
  overflow: hidden;
}

.input {
  background-color: #5d6ba8;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: white;
}

.input::placeholder {
  color: white;
  opacity: 0.75;
}

footer {
  background-color: #e6e6e6;
}

.card {
  padding: 75px;
  margin: 20px;
  border-radius: 10%;
}

.logo {
}

.slider-navigation-next {
  background-color: #5d6ba8;
}

.slider-navigation-previous {
  background-color: #5d6ba8;
}

.slider-navigation-next svg {
  color: white;
}

.slider-navigation-previous svg {
  color: white;
}

.button {
  background-color: #5d6ba8;
}

.navbar-item img {
  max-height: 3.55rem;
}

#id {
  color: white;
}
.button.is-primary {
  background-color: #5d6ba8;
}

.button.is-primary:hover {
  background-color: #6a74a3;
}

.table td:not([align]),
table th:not([align]) {
  text-align: left;
}

.title:not(:last-child) {
  margin-bottom: 4.5rem;
  font-size: 66px;
  font-family: "Paytone One", sans-serif;
}

/* .icon { " 
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
  margin: 25px;
  font-size: 30px;
} */

#book-equipment h1 {
  font-size: 2em;
  margin-top: 2.5em;
  margin-bottom: 10px;
}
