body {
    background-color: rgb(162, 213, 85);
    text-align: center;
}

#Book-Equipment {
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
}


/* Make icon larger
/* Center "Quip-Spot" in NavBar
/* Think about deleting some lines
/* Think about deleting Message box
/* Think about deleting Yes or No section