body {
    background-color: #CFF087;
    text-align: center;
}

#Book-Equipment {
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
}

.input {
    background-color: #5D6BA8;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: white;
}
